---
export const prerender = false;
import Layout from "../layout/layout.astro";
import "../style/global.css";

const accessToken = Astro.cookies.get("sb-access-token");

if (!accessToken) {
    return Astro.redirect("/login");
}
---

<Layout>
  <section class="dashboard">
    <div class="welcome-card">
      <h1>Hi, Welcome.</h1>

      <form action="/api/auth/signout" method="POST">
        <button type="submit">Logout</button>
      </form>
    </div>
  </section>
</Layout>