---
import Layout from "../layout/layout.astro";
---

<Layout>
    <main class="landing-page">
        <!-- HERO -->
        <section class="hero">
            <div class="hero-overlay"></div>

            <div class="hero-content">
            
                <h1>Welcome to <br /> archIRE</h1>

                <p class="hero-text">
                    Piecing Together Ireland's Indie Flock <br /> Explore handcrafted
                    games, talented studios, and rising indie developers from across
                    Ireland.
                </p>

                <div class="hero-buttons">
                   

                    <a href="/studios" class="btn-secondary">
                        Discover Studios
                    </a>
                </div>
            </div>

            <div class="floating-card card-1">
                <span>Narrative Adventures</span>
            </div>

            <div class="floating-card card-2">
                <span>Pixel Art Worlds</span>
            </div>

            <div class="floating-card card-3">
                <span>Irish Creativity</span>
            </div>
        </section>

        <!-- STUDIOS -->
        <section class="studio-section">
            <div class="container studio-wrapper">
                <div class="studio-text">
                    <p class="mini-title">IRISH STUDIOS</p>

                    <h2>Built By Passionate Creators</h2>

                    <p>
                        From Dublin to Cork, discover studios creating unique
                        experiences inspired by Irish creativity and
                        storytelling.
                    </p>

                    <a href="/studios" class="btn-primary"> Browse Studios </a>
                </div>

                <div class="studio-showcase">
                    <div class="studio-box large">
                        <img src="/dreamfeel_logo.jpg" alt="Dreamfeel" />
                    </div>

                    <div class="studio-box">
                        <img src="/profileimage/breadless.jpg" alt="Gambrinous" />
                    </div>

                    <div class="studio-box">
                        <img src="/profileimage/retroneogames.png" alt="Black Shamrock" />
                    </div>
                </div>
            </div>
        </section>
    </main>
</Layout>
