<footer class="footer">

    <div class="footer-inner">

        <p>© 2026 archIRE</p>
        <p>DISSERTATION</p>

        <div class="footer-links">
            <ul class="footer-col">
                <li>DISCOVER</li>
                <li>
                    <a href="https://www.imirt.ie/">
                        imirt.ie
                    </a>
                </li>

                <li>
                    <a href="#">
                        ABOUT
                    </a>
                </li>

            </ul>

        </div>

    </div>

</footer>