<footer class="footer">
    <div class="footer-inner">
        <p>© 2026 faM</p>
        <p>archIRE</p>

        <div class="footer-links">
            <ul class="footer-col">
                <li>
                    <a href="/faq"> FAQ </a>
                </li>

                <li>
                    <a href="/about"> ABOUT </a>
                </li>

                <li>
                    <a href="/privacypolicy"> Privacy Policy </a>
                </li>

                <li>
                    <a href="/accessibility"> Accessibility </a>
                </li>

                <li>
                    <a href="https://www.imirt.ie/"> imirt.ie </a>
                </li>


            </ul>
        </div>
    </div>
</footer>
