<nav>
    <ul class="nav-links">

        <li><a href="/">HOME</a></li>

        <li><a href="/profilemain">PROFILE</a></li>

        <li class="logo">
            <a href="/">
                <img src="/Logo.png" alt="archIRE logo">
            </a>
        </li>

        <li><a href="/listing">SEARCH</a></li>

        <li><a href="/news">NEWS</a></li>

        <li><a href="/login">LOGIN/SIGN UP</a></li>

    </ul>
</nav>